<div class="container">
  <div class="row">
    <h2 mat-dialog-title style="color: #78849E; font-size: 32px; margin-left: -13px;">{{data?.title}}</h2>
    <div class="col-1">
      <span style="border-bottom: 1px solid;"></span>
    </div>
    <mat-dialog-content>
      <p>
        <span style="color: #78849EB9">Year</span><br>
        <span style="color: #78849E">{{data?.year}}</span>
      </p>
      <p>
        <span style="color: #78849EB9">Genre</span><br>
        <span style="color: #78849E">{{data?.genre}}</span>
      </p>
      <p>
        <span style="color: #78849EB9">Description</span><br>
        <span style="color: #78849E">{{data?.description}}</span>
      </p>
      <div class="row">
        <div class="col-3">
          <p>
            <span style="color: #78849EB9">Director</span><br>
            <span style="color: #00BAFF"><strong>{{data?.director}}</strong></span>
          </p>
        </div>
        <div class="col-9">
          <p>
            <span style="color: #78849EB9">Actors</span><br>
            <span *ngFor="let actor of actors" style="color: #00BAFF; cursor: pointer;">
              <strong><a (click)="homeWithActor(actor)">{{actor}}</a></strong>,
            </span>
          </p>
        </div>
      </div>
      <p>
        <span style="color: #78849EB9">Runtime</span><br>
        <span style="color: #78849E">{{data?.runtime}} mins</span>
      </p>
      <p>
        <span style="color: #78849EB9">Rating</span><br>
        <span style="color: #78849E">{{data?.rating}}</span>
      </p>
      <p>
        <span style="color: #78849EB9">Votes</span><br>
        <span style="color: #78849E">{{data?.votes}}</span>
      </p>
      <p>
        <span style="color: #78849EB9">Revenue</span><br>
        <span style="color: #78849E">{{data?.revenue | currency}}</span>
      </p>
      <p>
        <span style="color: #78849EB9">Metascore</span><br>
        <span style="color: #78849E">{{data?.metascore}}</span>
      </p>

      <p> {{data?.body}} </p>
    </mat-dialog-content>
  </div>
</div>
