<div
  infinite-scroll
  [infiniteScrollDistance]="distance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScroll()"
>
  <div class="row ">
    <div style="top: 0px;left: 0pxs;height: 50px;background: var(--unnamed-color-012433) 0% 0% no-repeat padding-box;background: #012433 0% 0% no-repeat padding-box;opacity: 1;"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 style="margin-top: 32px; color:#386071">Movie Ranking</h1>
      </div>
    </div>
    <div class="row buttons-row">
      <div class="col-2">
        <button (click)="showTopTen()" type="button" class="btn btn-outline-dark">Top 10 Revenue</button>
        <span *ngIf="topTen" (click)="refreshTable()"><mat-icon>refresh</mat-icon></span>
      </div>
      <div class="col-4">
        <button type="button" class="btn btn-outline-dark">
          <div class="container">
            <div class="row">
              <div class="col-10">{{topTenPerYearText}}</div>
              <div class="col-1">
                <mat-select (ngModelChange)="showTopTenPerYar($event)" [(ngModel)]="selectedValue" name="food">
                  <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
          </div>
        </button>
        <span *ngIf="topTenPerYear" (click)="refreshTable()"><mat-icon>refresh</mat-icon></span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef> RANKING </th>
            <td mat-cell *matCellDef="let element" style="color: #536B7A;"> {{element?.rank}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> TITLE </th>
            <td mat-cell *matCellDef="let element" style="color: #536B7A;"> {{element?.title}} </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> YEAR </th>
            <td mat-cell *matCellDef="let element" style="color: #536B7A;"> {{element?.year}} </td>
          </ng-container>

          <ng-container matColumnDef="revenue">
            <th mat-header-cell *matHeaderCellDef matSort matSortActive="created" matSortDisableClear matSortDirection="desc"> REVENUE </th>
            <td mat-cell *matCellDef="let element" style="color: #536B7A;"> {{element?.revenue | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="modalColum">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [id]="element.id" >
              <button style="background-color: transparent; border: none;" (click)="openDialog(element.id)">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> -->
        <table style="width:100%">
          <thead>
            <tr>
              <th>RANKING</th>
              <th>TITLE</th>
              <th>YEAR</th>
              <th>REVENUE</th>
            </tr>
          </thead>
          <tbody *ngFor="let content of dataSource">
            <tr>
              <td>
                {{content?.rank}}
              </td>
              <td>
                {{content?.title}}
              </td>
              <td>
                {{content?.year}}
              </td>
              <td>
                {{content?.revenue}}
              </td>
              <td>
                <button style="background-color: transparent; border: none;" (click)="openDialog(content.id)">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
